* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 700px;
}

.titulo {
    margin: 0 auto;
    background-color: rgb(74, 143, 207);
    color: white;
    padding: 10px;
    width: 500px;
}

.vidas {
    padding: 10px;
    background-color: rgb(226, 132, 33);
    color: white;
    width: 200px;
    margin: 0 auto;
}

.respuesta {
    display: flex;
    background-color: black;
    color: white;
    margin: 0 auto;
    padding: 10px;
    width: 680px;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.5rem;
    align-items: center;
}

#respuesta {
    font-size: 1.5rem;
    width: 50px;
    justify-content: center;
}

.boton {
    font-size: 1.5rem;
    width: 150px;
}

.imagen {
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
}

img {
    max-width: 400px;
    max-height: 400px;
}

.usuario {
    width: 680px;
    height: 30px;
    background-color: gold;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reinicio {
    margin: 0 auto;
    display: flex;
}

.reinicio input {
    padding: 10px;
    margin: 100px auto;
}

.ultimasRespuestas {
    position: relative;
    left: 150px;
    bottom: 670px;
    background-color: indigo;
    width: 50px;
    height: 400px;
}

.ultimasRespuestas ul {
    color: white;
    font-size: 1.5rem;
    padding: 10px;
}

.ultimasRespuestas2 {
    position: relative;
    left: 160px;
    bottom: 670px;
    background-color: indigo;
    width: 50px;
    height: 400px;
}

.ultimasRespuestas2 ul {
    color: white;
    font-size: 1.5rem;
    padding: 10px;
}

.cuadroRespuestas {
    display: flex;
}

li {
    list-style-type: none;
}